.btn-modal{
}

.boton-modal button{
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal button:hover{
    background-color: rgb(96, 219, 178);
}

#btn-modal{
    display: none;
}

.container-modal{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(104, 167, 123, 0.575);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}

.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 4px;
}

.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #54ce44;
    border-bottom: 1px solid ;
}

.container-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.container-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #54ce44;
    color:rgba(104, 167, 123, 0.575);
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover{
    background-color: #54ce44;   
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}

@media screen and (max-width:800px){
    .content-modal h2{
        width: 90%;
    }
}